@{
    ViewData["Title"] = "Home Page";
}

<!-- Home page where the user can view picture of Joel and what the site entails -->

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>

<br />

<!-- Image of Joel -->
<div>
    <img src="~/img/JoelHiltonHeadshot.jpg" height="500"/>

    <br />
    <br />
    <h4>Make sure to check out his about me page and add to the movie collection!</h4>

</div>
