@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- View that describes Joel -->
<div>
    <h1>Get to know Joel!</h1>
    <br />

    <!-- QWComedy link-->
    <h4>Joel loves to perform at the quick wits comedy club!</h4>
    <a href="https://www.qwcomedy.com/">QWComedy</a>
    <br />
    <br />
    <!-- Bacon Sale link and image that goes to bacon sale site when clicked -->
    <h4>He also reviews movies on this website!</h4>
    <a href="https://baconsale.com/">Bacon Sale</a>
    <br />
    <br />
    <a href="https://baconsale.com/">
        <img src="~/img/BaconsaleKate.jpg" height="500" />
   </a>

</div>